.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width:100% ;
    margin-top: 30px;
}
.text{
    color: #2672b8;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height:6px;
    background: #2672b8;
    border-radius: 9px;
}
.input{
   margin-top: 55px;
   display: flex;
   flex-direction: column;
   gap: 25px;

}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 2%;
    width: 480px;
    height: 90px;
    background: #eaeaea;
    border-radius: 6px;
    padding-top: 15PX;
}
.input img{
    
    object-fit: contain;


}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password{
    align-items: center;
    text-align: center;
}
.forgot-password span{
    color: #2672b8;
    cursor: pointer;
  
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #2672b8;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #EAEAEA;
    color:#676767;
}
